<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        Hi! My Name is Subin Park from Korea. My username is SOL1(IamSOL1 in github) and welcome to my blog. You can check out <a href="{{ site.baseurl }}/note/profile">My Introduction</a> and <a href="{{'/notes' | relative_url}}"> Notes </a>.
        You can also visit my repository via <a href="https://github.com/SOL1archive">My Github Repository</a>.
        
        </h3> 
</div> </div>

